body{
    line-height: 1.8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-family: 'Poller One', cursive;
    font-size: 75px;
}

.bttn:focus{
   outline: none;
}

.bttn {
    border: none;
    background-color: none;
}

.jumbotron{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 20px;
}

.card{
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

#scorecard{
    font-size: 15px;
    color: whitesmoke;
    margin-bottom: 100px;
}