body{
    line-height: 1.8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bttn:focus{
   outline: none;
   transform: 50%;
}


.bttn {
    border: none;
    background-color: none;
}

.jumbotron{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 20px;
}

.card{
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#scorecard{
    font-size: 20px;
    background-color: rgb(46, 46, 46);
    padding: 20px;
    color: whitesmoke;
}